In [1]:
import pandas as pd
from scipy.sparse import csr_matrix
import numpy as np

In [2]:
userRatings=pd.read_csv("ml-latest-small/ratings.csv",usecols=["userId","movieId","rating"])
userRatings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [3]:
movies=pd.read_csv("ml-latest-small/movies.csv",usecols=["movieId","title"])
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
ratings = pd.merge(movies, userRatings)

ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       7     3.0
1        1  Toy Story (1995)       9     4.0
2        1  Toy Story (1995)      13     5.0
3        1  Toy Story (1995)      15     2.0
4        1  Toy Story (1995)      19     3.0

In [5]:

ratingMatrix = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
ratingMatrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#min_period to throw out results where fewer than 100 users rated a given movie pair
corrMatrix = ratingMatrix.corr(method='pearson', min_periods=100) 
corrMatrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
oneUserRatings = ratingMatrix.loc[50].dropna() #ratings of user, having id 50
oneUserRatings

title
Ace Ventura: Pet Detective (1994)                            2.0
Apollo 13 (1995)                                             3.0
Beverly Hills Cop III (1994)                                 3.0
Braveheart (1995)                                            4.0
Broken Arrow (1996)                                          3.0
Clear and Present Danger (1994)                              3.0
Cliffhanger (1993)                                           3.0
Clueless (1995)                                              2.0
Congo (1995)                                                 3.0
Crimson Tide (1995)                                          4.0
Dances with Wolves (1990)                                    3.0
Dave (1993)                                                  4.0
Demolition Man (1993)                                        3.0
Die Hard: With a Vengeance (1995)                            4.0
Dumb & Dumber (Dumb and Dumber) (1994)                       1.0
Eraser (1996)                                                3.0
Firm, The (1993)                                             3.0
Forrest Gump (1994)                                          4.0
Four Weddings and a Funeral (1994)                           4.0
Fugitive, The (1993)                                         3.0
Get Shorty (1995)                                            3.0
Ghost (1990)                                                 3.0
GoldenEye (1995)                                             4.0
Independence Day (a.k.a. ID4) (1996)                         4.0
Interview with the Vampire: The Vampire Chronicles (1994)    3.0
Jurassic Park (1993)                                         4.0
Mask, The (1994)                                             4.0
Maverick (1994)                                              4.0
Nell (1994)                                                  3.0
Net, The (1995)                                              3.0
Outbreak (1995)                                              4.0
Piano, The (1993)                                            3.0
Pretty Woman (1990)                                          3.0
Pulp Fiction (1994)                                          4.0
Schindler's List (1993)                                      4.0
Seven (a.k.a. Se7en) (1995)                                  3.0
Sleepless in Seattle (1993)                                  3.0
Specialist, The (1994)                                       3.0
Speed (1994)                                                 3.0
Stargate (1994)                                              3.0
Terminator 2: Judgment Day (1991)                            5.0
Tombstone (1993)                                             3.0
True Lies (1994)                                             3.0
Waterworld (1995)                                            3.0
What's Eating Gilbert Grape (1993)                           3.0
While You Were Sleeping (1995)                               4.0
Name: 50, dtype: float64

In [8]:
simCandidates = pd.Series()
for i in range(0, len(oneUserRatings)):
    print ("Adding sims for " + oneUserRatings.index[i] + "...")
    # Retrieve similar movies to this one that user rated
    sims = corrMatrix[oneUserRatings.index[i]].dropna()
    # Now scale its similarity by how well movie is rated
    sims = sims.map(lambda x: x * oneUserRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
simCandidates = simCandidates.groupby(simCandidates.index).sum() #some movies are similiar to more than one movie, so take sum of the similiarity
simCandidates.sort_values(inplace = True, ascending = False)

simCandidates

Adding sims for Ace Ventura: Pet Detective (1994)...
Adding sims for Apollo 13 (1995)...
Adding sims for Beverly Hills Cop III (1994)...
Adding sims for Braveheart (1995)...
Adding sims for Broken Arrow (1996)...
Adding sims for Clear and Present Danger (1994)...
Adding sims for Cliffhanger (1993)...
Adding sims for Clueless (1995)...
Adding sims for Congo (1995)...
Adding sims for Crimson Tide (1995)...
Adding sims for Dances with Wolves (1990)...
Adding sims for Dave (1993)...
Adding sims for Demolition Man (1993)...
Adding sims for Die Hard: With a Vengeance (1995)...
Adding sims for Dumb & Dumber (Dumb and Dumber) (1994)...
Adding sims for Eraser (1996)...
Adding sims for Firm, The (1993)...
Adding sims for Forrest Gump (1994)...
Adding sims for Four Weddings and a Funeral (1994)...
Adding sims for Fugitive, The (1993)...
Adding sims for Get Shorty (1995)...
Adding sims for Ghost (1990)...
Adding sims for GoldenEye (1995)...
Adding sims for Independence Day (a.k.a. ID4) (1996)...
Adding sims for Interview with the Vampire: The Vampire Chronicles (1994)...
Adding sims for Jurassic Park (1993)...
Adding sims for Mask, The (1994)...
Adding sims for Maverick (1994)...
Adding sims for Nell (1994)...
Adding sims for Net, The (1995)...
Adding sims for Outbreak (1995)...
Adding sims for Piano, The (1993)...
Adding sims for Pretty Woman (1990)...
Adding sims for Pulp Fiction (1994)...
Adding sims for Schindler's List (1993)...
Adding sims for Seven (a.k.a. Se7en) (1995)...
Adding sims for Sleepless in Seattle (1993)...
Adding sims for Specialist, The (1994)...
Adding sims for Speed (1994)...
Adding sims for Stargate (1994)...
Adding sims for Terminator 2: Judgment Day (1991)...
Adding sims for Tombstone (1993)...
Adding sims for True Lies (1994)...
Adding sims for Waterworld (1995)...
Adding sims for What's Eating Gilbert Grape (1993)...
Adding sims for While You Were Sleeping (1995)...

Jurassic Park (1993)                                              23.807143
Forrest Gump (1994)                                               21.750197
True Lies (1994)                                                  19.377875
Braveheart (1995)                                                 16.099577
Apollo 13 (1995)                                                  15.618418
Speed (1994)                                                      15.255222
Terminator 2: Judgment Day (1991)                                 14.695236
Dances with Wolves (1990)                                         14.070875
Ace Ventura: Pet Detective (1994)                                 14.049862
Lion King, The (1994)                                             13.791715
Independence Day (a.k.a. ID4) (1996)                              13.507632
Fugitive, The (1993)                                              12.368344
Mask, The (1994)                                                  12.225459
Aladdin (1992)                                                    12.119595
Mrs. Doubtfire (1993)                                             11.472072
Shawshank Redemption, The (1994)                                  11.113111
Schindler's List (1993)                                           10.804513
Pretty Woman (1990)                                               10.571611
Die Hard: With a Vengeance (1995)                                 10.363441
Silence of the Lambs, The (1991)                                   9.685696
Toy Story (1995)                                                   9.263168
Batman (1989)                                                      8.227659
Seven (a.k.a. Se7en) (1995)                                        8.151024
Back to the Future (1985)                                          8.121235
Star Wars: Episode IV - A New Hope (1977)                          7.941954
Pulp Fiction (1994)                                                7.925910
Saving Private Ryan (1998)                                         7.580860
Stargate (1994)                                                    7.558283
Dumb & Dumber (Dumb and Dumber) (1994)                             7.521645
Die Hard (1988)                                                    7.419156
                                                                    ...
Waterworld (1995)                                                  3.000000
Net, The (1995)                                                    3.000000
Cliffhanger (1993)                                                 3.000000
Beauty and the Beast (1991)                                        2.834059
Babe (1995)                                                        2.823722
Clueless (1995)                                                    2.763801
Fight Club (1999)                                                  2.730273
Home Alone (1990)                                                  2.532209
Titanic (1997)                                                     2.453604
Godfather, The (1972)                                              2.298238
Groundhog Day (1993)                                               2.065445
Good Will Hunting (1997)                                           2.045919
Truman Show, The (1998)                                            1.837368
Monty Python and the Holy Grail (1975)                             1.754128
Lord of the Rings: The Two Towers, The (2002)                      1.648442
Reservoir Dogs (1992)                                              1.625913
Batman Forever (1995)                                              1.410765
Ocean's Eleven (2001)                                              1.341948
Goodfellas (1990)                                                  1.307333
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)     1.251251
Gladiator (2000)                                                   1.242919
Princess Bride, The (1987)                                         1.218119
Rock, The (1996)                                                   1.193471
Spider-Man (2002)                                                  1.113077
Ferris Bueller's Day Off (1986)                                    1.015591
Lord of the Rings: The Return of the King, The (2003)              0.993537
Shrek (2001)                                                       0.553740
One Flew Over the Cuckoo's Nest (1975)                             0.545481
Ghostbusters (a.k.a. Ghost Busters) (1984)                         0.354396
Pirates of the Caribbean: The Curse of the Black Pearl (2003)      0.335084
Length: 85, dtype: float64

In [9]:
#Drop previously rated movies
filteredSims = simCandidates[~simCandidates.index.isin(oneUserRatings.index)]
filteredSims

Lion King, The (1994)                                                             13.791715
Aladdin (1992)                                                                    12.119595
Mrs. Doubtfire (1993)                                                             11.472072
Shawshank Redemption, The (1994)                                                  11.113111
Silence of the Lambs, The (1991)                                                   9.685696
Toy Story (1995)                                                                   9.263168
Batman (1989)                                                                      8.227659
Back to the Future (1985)                                                          8.121235
Star Wars: Episode IV - A New Hope (1977)                                          7.941954
Saving Private Ryan (1998)                                                         7.580860
Die Hard (1988)                                                                    7.419156
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)     7.214496
Star Wars: Episode VI - Return of the Jedi (1983)                                  7.074384
Men in Black (a.k.a. MIB) (1997)                                                   6.465521
Star Wars: Episode V - The Empire Strikes Back (1980)                              6.445288
Fargo (1996)                                                                       5.831939
Terminator, The (1984)                                                             5.307928
Matrix, The (1999)                                                                 5.130352
E.T. the Extra-Terrestrial (1982)                                                  5.109490
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                          4.442831
Twister (1996)                                                                     4.349371
Sixth Sense, The (1999)                                                            4.075192
Mission: Impossible (1996)                                                         4.069171
Usual Suspects, The (1995)                                                         3.788471
Lord of the Rings: The Fellowship of the Ring, The (2001)                          3.708612
Indiana Jones and the Last Crusade (1989)                                          3.699160
American Beauty (1999)                                                             3.112567
Beauty and the Beast (1991)                                                        2.834059
Babe (1995)                                                                        2.823722
Fight Club (1999)                                                                  2.730273
Home Alone (1990)                                                                  2.532209
Titanic (1997)                                                                     2.453604
Godfather, The (1972)                                                              2.298238
Groundhog Day (1993)                                                               2.065445
Good Will Hunting (1997)                                                           2.045919
Truman Show, The (1998)                                                            1.837368
Monty Python and the Holy Grail (1975)                                             1.754128
Lord of the Rings: The Two Towers, The (2002)                                      1.648442
Reservoir Dogs (1992)                                                              1.625913
Batman Forever (1995)                                                              1.410765
Ocean's Eleven (2001)                                                              1.341948
Goodfellas (1990)                                                                  1.307333
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)                     1.251251
Gladiator (2000)                                                                   1.242919
Princess Bride, The (1987)                                                         1.218119
Rock, The (1996)                                                                   1.193471
Spider-Man (2002)                                                                  1.113077
Ferris Bueller's Day Off (1986)                                                    1.015591
Lord of the Rings: The Return of the King, The (2003)                              0.993537
Shrek (2001)                                                                       0.553740
One Flew Over the Cuckoo's Nest (1975)                                             0.545481
Ghostbusters (a.k.a. Ghost Busters) (1984)                                         0.354396
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                      0.335084
dtype: float64